@model List<C_Boutique.Models.Produit>

<h2>Liste des Produits</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produit in Model)
        {
            <tr>
                <td>@produit.Id</td>
                <td>@produit.Val</td>
            </tr>
        }
    </tbody>
</table>
