@model C_Boutique.Models.VenteDTO

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center form-container">
    <h1 class="display-4">Etat de Stock</h1>
        
        <table class="table table-bordered" id="data-table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Type Produit</th>
                    <th scope="col">Date dernier Inventaire</th>
                    <th scope="col">Pu Vente</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Entree</th>
                    <th scope="col">Sortie</th>
                    <th scope="col">Reste</th>
                    <th scope="col">Unite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
</div>

<!-- Inclusion de Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Inclusion de FontAwesome pour l'icône -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
